
<div class="container" style="padding: 60px;">
	<div class="row">
		<div class="col-md-6">
			<h1>Game</h1>
			<p ng-show="$ctrl.loaded">
				State: {{$ctrl.currentState}}
			</p>
			<p ng-show="$ctrl.loaded && $ctrl.data.gameState.toNumber() == 2">
				Turn: {{$ctrl.Battleship.data.account == $ctrl.data.currentPlayer ? "Mine" : "Other player"}}
			</p>
		</div>
		<div class="col-md-6" ng-show="$ctrl.canWin && $ctrl.data.gameState.toNumber() == 2">
			<button class="btn btn-success" ng-click="$ctrl.winTheGame()">
				You can win! Press here to win.
			</button>
		</div>
		<div  class="col-md-6" ng-show="$ctrl.data.gameState.toNumber() == 3">
			<h2>Winner: {{$ctrl.Battleship.data.account == $ctrl.data.winner ? "You!" : "Not you..."}}</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<h3>My board</h3>
			<p ng-hide="$ctrl.board">
				Loading...
			</p>
			<table ng-show="$ctrl.board">
				<th></th>
				<th ng-repeat="row in $ctrl.board track by $index">
					{{$index+1}}
				</th>
				<tr ng-repeat="row in $ctrl.board track by $index">
					<td>{{$index+1}}</td>
					<td ng-repeat="ele in row track by $index">
						<button 
							style="width: 40px; height: 40px;" 
							class="btn" 
							ng-disabled="$ctrl.data.gameState.toNumber() >= 2"
							ng-click="$ctrl.layPiece($index,$parent.$index)"
							ng-class='{
								"laying": $ctrl.laying.x == $index && $ctrl.laying.y == $parent.$index,
								"placed": ele > 0,
								"hit": ele < 0,
								"missed": ele > $ctrl.maxBoatLength
							}'>
							{{ele}}
						</button>
					</td>
				</tr>
			</table>
			<button ng-show="$ctrl.loaded 
					&& $ctrl.data.gameState.toNumber() == 1 
					&& $ctrl.numberOfShipsPlaced($ctrl.board) == $ctrl.maxBoatLength + 1 - $ctrl.minBoatLength"
				class="btn btn-success"
				ng-click="$ctrl.startGame()">
				Start game
			</button>
		</div>
		<div class="col-md-6" ng-show="$ctrl.data.gameState.toNumber() >= 2">
			<h3>Other players board</h3>
			<p ng-hide="$ctrl.otherBoard">
				Loading...
			</p>
			<table ng-show="$ctrl.otherBoard">
				<th></th>
				<th ng-repeat="row in $ctrl.otherBoard track by $index">
					{{$index+1}}
				</th>
				<tr ng-repeat="row in $ctrl.otherBoard track by $index">
					<td>{{$index+1}}</td>
					<td ng-repeat="ele in row track by $index">
						<button 
							style="width: 40px; height: 40px;" 
							class="btn" 
							ng-disabled="$ctrl.data.gameState.toNumber() > 2"
							ng-click="$ctrl.makeMove($index,$parent.$index)"
							ng-class='{
								"missed": ele < 0,
								"hit": ele > $ctrl.maxBoatLength
							}'>
							{{ele}}
						</button>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>