<h1>Battle ship</h1>
<button class="btn btn-primary" ng-click="$ctrl.newGame()">
	Create game
</button>

<br>
<h2>My Games</h2>
<table class="table table-hover">
	<tr>
		<th></th>
		<th>Game Id</th>
	</tr>
	<tr ng-repeat="game in $ctrl.Battleship.data.games | filter: { player1: $ctrl.Battleship.data.account }">
		<td>
			{{$index+1}}
		</td>
		<td>
			<a href="" style="cursor: pointer;" ng-click="$ctrl.playGame(game)">{{game.id}}</a>
		</td>
	</tr>
</table>


<h2>Games I've joined</h2>
<table class="table table-hover">
	<tr>
		<th></th>
		<th>Game Id</th>
	</tr>
	<tr ng-repeat="game in $ctrl.Battleship.data.games | filter: { player2: $ctrl.Battleship.data.account }">
		<td>
			{{$index+1}}
		</td>
		<td>
			<a href="" style="cursor: pointer;" ng-click="$ctrl.playGame(game)">{{game.id}}</a>
		</td>
	</tr>
</table>

<h2>Other games</h2>
<table class="table table-hover">
	<tr>
		<th></th>
		<th>Game Id</th>
	</tr>
	<tr ng-repeat="game in $ctrl.Battleship.data.games | filter: { 
		player1: '!'+$ctrl.Battleship.data.account, 
		player2: '!'+$ctrl.Battleship.data.account 
		}">
		<td>
			{{$index+1}}
		</td>
		<td>
			<a href="" style="cursor: pointer;" ng-click="$ctrl.joinGame(game)">{{game.id}}</a>
		</td>
	</tr>
</table>